:root {
    --theme-box-colors: rgb(36, 36, 36);
}

@font-face {
    src: url(impact.ttf);
    font-family: myFont;
}

body::-webkit-scrollbar {
    width: 10px;
    background: rgb(39, 39, 39)
}

body::-webkit-scrollbar-thumb {
    background: rgb(56, 56, 56)
}
html {
    height: 100%;
}

body {
    margin: 0px 0px 0px 0px!important;
    background: rgb(36, 36, 36)
  }

.secondflag {
    position: ;
}

.lgbtqflag {
    width: 2.5rem;
    transform: rotate(80deg) scale(4);
    margin-left: -5px;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.226);
}

header div  {
    position: absolute;
    top: 10px;
    left: 70px;
    text-shadow: 0px 0px 10px black;
    font-size: min(10vw, 50px);
}

header {
    overflow: hidden;
    background: linear-gradient(0deg, rgb(48, 48, 48), rgb(48, 48, 48));
    padding: 10px;
    font-weight: lighter;
    font-family: myFont;
    padding-left: 5rem;
    font-size: 3rem;
    color: rgb(245, 245, 245);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.096);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
    margin: none;
}

.sidenav {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 300px;
    height: 100%;
    position: fixed;
    bottom: 0; left: 0px;
    overflow-x: hidden;
    background: rgb(39, 39, 39);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.425);
    transition: left .5s ease;
    left: -250px;
}

.sidenav a:not(.faq-button) {
    display: flex;
    overflow: hidden;
    font-family: sans-serif;
    float: left;
    color: rgb(83, 83, 83);
    background: rgba(29, 29, 29, 0.993);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.158);
    padding:10px 10px 10px 20px;
    text-decoration: none;
    font-size: 17px;
    margin: 3px 3.5rem 3px 0px;
    border-radius: 0px 5px 5px 0px;
    transition: all .1s ease;
    font-weight: bolder;
}

.sidenav a:hover {
    background: rgba(44, 44, 44, 0.993);
    color: #ffffff;
}

.sidenav a:nth-of-type(3):hover  {
    background: #738ADB;
    color: #ffffff;
}

.sidenav a:nth-of-type(4):hover  {
    background: #FF0000;
}

.fa-chevron-right {
    color: rgba(204, 204, 204, 0.616);
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
    top: 35px;
    cursor: pointer;
    transition: .7s ease;
    transition-property: transform;
}

.fa-chevron-right:hover {
    color: rgb(255, 255, 255);
}

.fa-chevron-right button, .navButton {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    border: none!important;
    right: 0px;
    cursor: pointer;
}


button:focus {
    outline: none;
}

.fa-question-circle {
position: absolute;
color: rgba(158, 158, 158, 0.616);
transition: all .1s ease;
font-size: 1.7rem;
cursor: pointer;
bottom: 10px;
left: 10px
}
.fa-question-circle:hover {
    color: white;
}

.faq-button {
    left: -280px;
    width: 250px;
    position: absolute;
    bottom: 40px;
    overflow: hidden;
    font-family: sans-serif;
    background: rgb(44, 44, 44);
    color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.158);
    padding:10px 10px 10px 20px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 3.5rem;
    border-radius: 0px 10px 10px 0px;
    transition: left .7s ease;
    font-weight: bolder;
}

.main-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: rgb(29, 29, 29);
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 10px;
    padding: 10px;
}

.theme-boxes {
    overflow: hidden;
    background: white;
    width: 25rem;
    height: 25rem;
    margin: 10px;
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid var(--theme-box-colors);
    color: rgb(114, 114, 114);
    font-family: sans-serif;
}

.theme-boxes .header {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 40%;
    border-radius: 10px 10px 0px 0px;
    filter: blur(1px);
}
.theme-boxes .footer {
    height: 60%;
    width: 100%;
    padding: 1px 10px 10px 10px;
    background: var(--theme-box-colors);
}


.box7 .header-image {
    background: url("https://imgur.com/zJPBnrt.png");
    background-size: cover;
}

.box6 .header-image {
    background: url("https://imgur.com/vJzjOjk.png")
}

.box5 .header-image {
    background: url("https://imgur.com/uXhTIY6.png");
}

.box4 .header-image {
    background: url("https://i.imgur.com/XbCyE5a.png")
}

.box3 .header-image {
    background: url("http://getwallpapers.com/wallpaper/full/d/4/8/510902.jpg")
}

.box2 .header-image {
    background: url("https://images.pexels.com/photos/2961876/pexels-photo-2961876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
}

.box1 .header-image {
    background: url("https://wallpaperboat.com/wp-content/uploads/2019/06/minimalist-desktop-14.jpg");
}

.theme-boxes .header-image {
    border-radius: 10px 10px 0px 0px;
    width: auto;
    max-width: 100%;
    height: 100%;
    background-size: cover;
    transform: scale(1.1);
}

.theme-boxes a {
    filter: blur(0px)!important;
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background: rgb(31, 31, 31);
    padding: 8px;
    border-radius: 5px;
    transition: all .1s ease;
}
.theme-boxes a:hover {
    color: white;
    background: rgb(29, 29, 29);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.144);
}   

p {
    white-space:normal;
    margin-right: 10px;
}

.home-page {
    overflow: hidden;
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.164);
    background: rgb(29, 29, 29);
    height: 100%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 1%;
    margin-left: 60px;
}

.alicias-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.totteImage {
    text-align: center;
    width: 80%;
    max-width: 225px;
    text-align:center;
    display:block;
    margin:auto;
    border-radius: 50%;
    border: min(3vw, 5px) solid rgb(36, 36, 36);
    opacity: .8;
}

.image-text {
    color: rgb(177, 177, 177);
    text-align: center;    
    text-decoration: none;
    transition: all .1s ease;
    font-size: min(8vw, 30px);
}
.image-containers:hover .image-text, .image-containers:hover img, .alicias-container:hover .image-text, .alicias-container:hover img {
    color: rgb(255, 255, 255)!important;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
    opacity: 1;
}

.explain-text {
    position: absolute;
    color: white;
}

.explain2 {
    color: white;
    margin-top: 30px;
    margin-bottom: -40px;
}

.line-break {
    width: 100%;
    height: 2px;
    margin-top: 20px;
    background: rgba(128, 128, 128, 0.219)
}

.friends-container {
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    max-width: 50%;
    margin-top: 50px;   
}

.image-containers {
    margin: 10px;
}

.highlightaaaa {
    color: white;
}
